.form-container {
    width: 400px;
    background-color: #f1f7f6;
    margin: auto;
    padding: 20px 40px;
    /* text-emphasis: medium; */
}

/* .all-style{
    background-color:  rgba(38,54,51,.1);
} */