.pri{
    background-color: #00856f;
    padding-bottom: 30%;
    padding-top: 30%;
    margin-top: 50px;
    margin-bottom: 20px;
}
.sec{
    background-color: #00856f;
    padding-bottom: 30%;
    padding-top: 30%;
    margin: 20px auto;
}
.ter{
    background-color: #00856f;
    padding-bottom: 30%;
    padding-top: 30%;
    margin: 20px auto;
}
.cstyle{
    color: #051d50;
    padding-left: 10%;
    padding-right: 10%;

}