.page-home{
    /* position: relative; */
    padding-top: 40px;
    padding-bottom: 40px;
    background-color: #f1f7f6;
}

.left{
    font-size: 68px;
    line-height: 60px;
    color: #00856f;
    margin-bottom: 0px;
    margin-top: 250px;
    margin-left: 30px;
    font-family: 'Domaine Display',sans-serif;
    font-weight: 500;
    vertical-align: top;
}
.img{
    position: absolute;
    left: 4;
    top: 4;
    right: 4%;
    bottom: 0;
    height: 40%;
    max-width: 800px;
    margin-right: auto;
    margin-bottom: -20px;
    margin-left: auto;
}